/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700;900&family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Source Sans Pro", sans-serif;
  /* --color-blue: #2699fb;
  --color-blue0: #f1f9ff;
  --color-blue1: #abd8fe;
  --color-blue2: #e2f0fa;
  --color-white: #fff;
  --color-black: #000;
  --color-light:#2e99fb59; */
  --color-black1: #222222;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-white2: #f7fcff;
  --color-white1: #e8e8e8;
  --color-grey: #ffffff4d;
  --color-grey1: #00000029;
  --color-grey2: #e9e9e9;
  --color-violet: #0045fb;
}
.heading-all {
  margin: 0;
  padding: 35px 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #222222;
}
img {
  width: 100%;
  max-width: 100%;
}
::-webkit-input-placeholder {
  color: inherit;
}
::-moz-placeholder {
  color: inherit;
}
:-ms-input-placeholder {
  color: inherit;
}
:-moz-placeholder {
  color: inherit;
}

/* login page css */
.login_wrapper {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%;
  background-image: url("../images/bgimg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.login_wrapper .modal-content {
  border: 0px;
  box-shadow: none;
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .login_wrapper {
    display: block;
  }
  .login_wrapper .modal-content {
    height: 100%;
  }
}

/* login page css */
.section_title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 48px;
  color: #000;
}
/* .section_subtitle{
  font-size: 26px !important;
  color: #000;
  margin-top: 1rem !important;
  font-weight: 700 !important;
} */

.custom-dot-list-style {
  position: absolute;
  bottom: -42px !important;
  display: flex;
  align-items: center;
}
.custom-dot-list-style button {
  border: none !important;
  background: var(--color-violet);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin-right: 8px;
  padding: 0;
  transition: all 0.1s;
}

.custom-dot-list-style button.active {
  background: var(--color-violet);
  width: 12px;
  height: 12px;
}
.custom-dot-list-style button:hover {
  width: 12px;
  height: 12px;
}
.carousel-button-group {
  position: absolute;
  top: -80px;
  right: 10px;
  display: none;
}
.carousel-button-group button {
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.carousel-button-group .me-2 svg {
  color: #6563ff;
}
.carousel-button-group button.disable svg {
  color: gray;
}
.marginY_6 {
  margin-top: 4rem !important;
}

.remove-disabled-color.form-control:disabled {
  background-color: #ffffff;
}

.remove-disabled-color.removePlaceholder-property.form-control::placeholder {
  color: #b7b7b7fa;
}

.remove-disabled-color.removePlaceholder-property.form-control:focus {
  color: #000;
  font-weight: 600;
}

.selected_btn {
  border-radius: 30px;
  background-color: #ffffff;
  color: #000;
  border-width: 2px;
  border-color: #808080;
  margin: 5px;
  min-width: 111px;
}
.selected_btn.btn-primary {
  border-radius: 30px !important;
  background-color: #ffffff !important;
  color: #000 !important;
  border-width: 2px !important;
  border-color: #808080 !important;
  margin: 5px !important;
  min-width: 111px !important;
}
.selected_btn:hover {
  color: #000 !important;
  border-width: 2px !important;
  border-color: #2568fa !important;
  background-color: transparent !important;
}
.cp {
  cursor: pointer;
}

.top-space {
  margin-top: 80px;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* .w_90 > .container{
  max-width: 93% !important;
  margin: 0px 0px 0px auto;
  padding-right: 0px;
}
.w_90 > .container .react-multi-carousel-item--active{
  width: 1200px !important;
} */

.w_90 > .container {
  max-width: 86.5%;
  margin: 0px 0px 0px auto;
  padding-right: 0px;
}
.w_90 > .container .react-multi-carousel-list {
  justify-content: space-between;
}

.w_90.partner_w_90 {
}

/* Mediquery start */
@media screen and (max-width: 1680px) {
  .w_90 > .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 1600px) {
  .w_90 > .container {
    max-width: 92%;
  }
}
@media screen and (max-width: 1440px) {
  .w_90 > .container {
    max-width: 96%;
  }
}
@media screen and (max-width: 1400px) {
  .w_90 > .container {
    max-width: 98%;
  }
}

@media screen and (max-width: 1366px) {
  /* .w_90 > .container .react-multi-carousel-item--active{
    width:965px !important;
  } */
  .w_90 > .container {
    max-width: 93%;
  }
}

@media screen and (max-width: 1280px) {
  .w_90 > .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 1152px) {
  .w_90 > .container {
    max-width: 92.5%;
  }
}
@media screen and (max-width: 1180px) {
  .w_90 > .container {
    max-width: 91.3%;
  }
}

@media screen and (max-width: 1024px) {
  .w_90 > .container {
    max-width: 97.5%;
  }
}

@media screen and (max-width: 959px) {
  .w_90 > .container {
    max-width: 88.5%;
  }
}

@media screen and (max-width: 768px) {
  .w_90 > .container {
    max-width: 98%;
  }
}

@media all and (max-width: 767px) {
  .custom-dot-list-style {
    display: none !important;
  }
  .carousel-button-group {
    display: block;
  }
  .section_title {
    font-size: 28px;
  }
  .mob_padding_right {
    padding-right: 0 !important;
  }
  .marginY_6 {
    margin-top: 1rem !important;
  }

  .w_90 > .container {
    max-width: 86%;
  }
  .w_90 > .container .mx-2 {
    margin-right: 15px !important;
  }
}

@media all and (min-width: 400px) and (max-width: 767px) {
  .container {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  .carousel-button-group {
    right: 20px;
  }
  .mob_padding_right {
    padding-right: 0 !important;
  }
  .w_90 > .container {
    padding-left: inherit;
    padding-right: inherit;
  }
}

@media screen and (max-width: 753px) {
}
@media screen and (max-width: 711px) {
  .w_90 > .container {
    max-width: 89%;
  }
}

@media screen and (max-width: 667px) {
  .w_90 > .container {
    max-width: 92%;
  }
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 600px) {
  .w_90 > .container {
    max-width: 96%;
  }
}

@media screen and (max-width: 569px) {
  .w_90 > .container {
    max-width: 100%;
  }
  .w_90 > .container .mx-2 {
    margin-left: 0rem !important;
  }
}
@media screen and (max-width: 533px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 424px) {
}
@media screen and (max-width: 414px) {
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 390px) {
}
@media screen and (max-width: 375px) {
}
@media screen and (max-width: 360px) {
}
@media screen and (max-width: 320px) {
}
