.badminton_section{
    margin: 0px;
    padding: 35px 0px;
    display: block;
    position: relative;
    background-color: #F7FCFF;
    color: #000000;
}

.badminton_section h3{
    margin: 0px;
    padding: 0px 0px 20px 0px;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

 .badminton_section .anch_badminton{
    margin: 0px 0px 12px 0px;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    text-decoration: none;
    border: 1px solid #C7C7C7;
    background-color: #fff;
    text-align: center;
    border-radius: 24px;
}
.badminton_section .anch_badminton:hover{
    border: 1px solid #0045FB;
    /* background-color: #0045FB; */
    /* color: #fff; */
} 
.load_more{
    margin: 0px 0px 12px 0px;
    padding: 5px 0px 0px 0px;
    display: none;
    font-size: 16px;
    font-weight: 300;
    color: #0045FB;
    text-decoration: underline; 
    border-bottom: 1px solid #0045FB;
    border: none;
    background-color: transparent;

}



/* Responsive */
@media only screen and (max-width: 767px) {
    .badminton_section{border-top: 1px solid #C7C7C7; border-bottom: 1px solid #C7C7C7;}
    .load_more{ display: inline-block;}  
    .badminton_section .anch_badminton{ margin-right: 10px;} 
    .badminton_section h3{
        font-size: 16px;
        font-weight: 700;
        color: #000000;
    }
    .showSection:not(:first-child){
        display: none;
    }
    .badminton_section{
        padding: 62px 0px;
    }
}
/* Responsive */