.Partner_us_wrapper{
    position: relative;
    height: 146px;
}
.partnet_top_view{
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 2;
}


.Partner_us_section{
    padding: 0px;
    background-image: url("../../../assets/images/partnerus-background.svg");
    background-repeat: no-repeat;
    background-position: right top;
    height: 190px;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-size: cover;
    border-radius: 15px;
}
.partner_text{
    padding: 0px;
    display: block;
}
.partner_text p{
    margin: 0px 0px 15px 0px;
    padding: 0px;
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 300;   
}
.partner_text span{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: block;
    font-size: 26px;
    color: #fff;
    font-weight: bold;   
}
.btn_partner_us{
    padding: 0px 0px 0px 0px;
    display: block;
    width: 168px;
    height: 44px;
    font-size: 14px;
    color: #0045FB;
    font-weight: 300;   
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    background-color: #fff; 
    border-radius: 40px; 
}
.btn_partner_us:hover{
    background-color: #e9e9e9;    
}

.panelContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

@media all and (max-width:767px){
    .Partner_us_section{
        height: 295px;
    }
    .Partner_us_wrapper{
        height: auto;
        border-top: 1px solid #C7C7C7;
    }
    .panelContainer{
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        width: 170px;
        margin-left: 36px;
        text-align: left;
    }
    .btnWrapper{
        width: 100%;
        text-align: left;
    }
    .partner_text span{
        font-size: 20px;
    }
    .partner_text p{
        margin: 0px;
    }
    .partnet_top_view{
        position: static;
        z-index: 1;
        background-color:#F1F5FF;
        padding: 15px 0;
    }
}

@media all and (min-width:400px) and (max-width:767px){
    .partnet_top_view{
        padding: 24px 0;
    }
  }