.coachsection_wrapper {
  /*padding-top: 96px;*/
  padding-top: 30px;
  padding-bottom: 150px;
  background-color: var(--color-white2);
  border-bottom: 1px solid #c7c7c7;
}
.card {
  border: none;
  background-color: transparent;
  opacity: 1;
}

.card_image {
  width: 100%;
  height: 541px;
  /* height: 420px; */
}

.card_image img {
  width: 100% !important;
  height: 541px !important;
  /* height: 420px !important; */
  /* height: 520px !important; */
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 15px;
}

.arrowIcon {
  /* width: 15px; */
  width: 9px;
  position: relative;
  top: -2px;
}
.coachTitle_wrapper {
  position: absolute;
  top: 107px;
  left: 80px;
  color: white;
  font-size: 23px;
  font-weight: 500;
  z-index: 2;
  display: block;
}
.coach_title {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
}
.coach_subtitle {
  margin-bottom: 46px;
  color: #ffffff;
  font-size: 18px;
}
.coach_btn {
  color: #e4e2e2;
  font-size: 14px;
  font-weight: 300;
  border: none;
  min-width: 140px;
  padding: 15px 12px;
  cursor: pointer;
  background-color: #0045fb !important;
}
.coach_btn:hover {
  background-color: #032e8b !important;
}

@media all and (max-width: 767px) {
  .card_image {
    height: auto;
  }
  .card_image img {
    height: 482px !important;
    border-radius: 15px;
  }
  .coachsection_wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .coachTitle_wrapper {
    top: 40px;
    left: 17px;
  }
  .coach_title {
    font-size: 20px;
    margin-bottom: 4px;
    text-shadow: 0px 4px 10px #0000007b;
  }
  .coach_subtitle {
    font-size: 16px;
    margin-bottom: 11px;
    text-shadow: 0px 4px 10px #0000007b;
  }
  .coach_btn {
    font-size: 14px;
    min-width: 148px;
    padding: 12px 12px;
    height: 40px;
    max-width: 200px;
    overflow: hidden;
  }
}
