.discover_sport_section {
  margin: 0px;
  padding-top: 96px;
  padding-bottom: 48px;
  display: block;
  position: relative;
  background-color: var(--color-white2);
  border-top: 1px solid #c7c7c7;
}
.discover_boxes {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.discover_boxes .discover_box {
  margin: 0px 22px 24px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  cursor: pointer;
  width: 15%;
  transition: all 0.4s;
  transform: scale(1);
  /* -webkit-flex: 1; 
  -ms-flex: 1; 
  flex: 1; */
}
.discover_boxes .discover_box:last-child {
  margin-right: 0px;
}
.discover_boxes .discover_box .img {
  margin: 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  width: 100%;
  height: 270px;
  overflow: hidden;
  border-radius: 15px;
}
.discover_boxes .discover_box .img img {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
.discover_boxes .discover_box h4 {
  margin: 0px;
  padding: 15px 0px 15px 0px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}
.discover_boxes .discover_box:hover h4 {
  color: #0045fb;
}
.discover_boxes .discover_box:hover img {
  -moz-transform: scale(1.2) rotate(0deg);
  -webkit-transform: scale(1.2) rotate(0deg);
  -o-transform: scale(1.2) rotate(0deg);
  -ms-transform: scale(1.2) rotate(0deg);
  transform: scale(1.2) rotate(0deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .discover_boxes .discover_box {
    width: 23%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .discover_boxes .discover_box {
    width: 22%;
  }
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .discover_boxes {
    justify-content: space-between;
  }
  .discover_boxes .discover_box {
    text-align: center;
    flex: 0 0 48%;
    margin-right: 0;
  }
  .discover_boxes .discover_box .img {
    margin: 0px auto;
    width: 100%;
    height: 160px;
    /* max-width: 156px; */
  }
  .discover_sport_section {
    padding-top: 50px;
    padding-bottom: 48px;
    border-bottom: 1px solid #c7c7c7;
  }
}
@media only screen and (max-width: 400px) {
  /* .discover_boxes .discover_box {
    text-align: center;
    flex: 0 0 46%;
  } */
  .discover_boxes .discover_box .img {
    height: 160px;
  }
  .discover_sport_section {
    padding-top: 50px;
    padding-bottom: 48px;
  }
}
