.learningCentre_section{
    margin: 0px;
    display: block;
    position: relative;
    background-color: #fff;
    padding-top: 96px;
    padding-bottom: 48px;
}
.LearningCentre{
    padding: 0px;
    display: block;
    position: relative;
}

.learing_grid{
    margin: 0px;
    padding: 0px;
    display: block;
}
.learing_grid .column_1 {
    margin: 0px 2% 0px 0px;
    padding: 0px;
    display: block;
    width: 48%;
    float: left;

    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    box-shadow: 0px 16px 21px -17px rgb(183 176 176);
}
/* .learing_grid .column_1 .column_cnt{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    box-shadow: 0px 16px 21px -17px rgb(183 176 176);
} */
.learing_grid .column_1 .img{
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100% !important;
    height: 588px !important;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.column_1 .img img{
    width: 100% !important;
    height: 588px !important;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}
.learing_grid .column_1 .img:hover img{
    -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.learing_grid .column_1 .cnt{
    margin: 0px;
    padding: 0px;
    display: block;
}
.learing_grid .column_1 h3{
    margin: 0px;
    padding: 20px 25px 20px 25px;
    display: block;
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.tags_box{
    margin: 0px;
    padding: 15px 25px 15px 25px;
    display: block;  
}
.tags_box .anch{
    margin: 0px 10px 10px 0px;
    padding: 4px 16px 5px 16px;
    display: inline-block;   
    font-size: 14px;
    color: #222222;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    background-color: #E9E9E9;
    border-radius: 20px;
    border: 1px solid transparent;
}
.tags_box .anch:hover{
    /* background-color: #0045fb;
    color: #fff;  */
    border-color: #2568fa!important;
}
.learing_grid .column_2 {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.learing_grid .column_2 {
   margin: 0px;
   padding: 0px;
   display: block;
   width: 50%;
   float: left;
}

.column_2_img{
    display: block;
    padding: 0 4px;
    float: left;
    width: 50%;
}
.column_2_img_right .column_img{
    margin-right: 0px !important;
    margin-left: 10px !important;
}
.column_2_img .column_img{
    margin: 0px 10px 20px 0px;
    padding: 0px;
    display: block;
    /* float: left;
    width: 49%; */

    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    box-shadow: 0px 16px 21px -17px rgb(183 176 176);
}

/* .column_2_img .column_cnt{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
    box-shadow: 0px 16px 21px -17px rgb(183 176 176);
} */
.column_2_img .img{
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100% !important;
    height: 282px !important;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.column_2_img .img img{
    width: 100% !important;
    height: 282px !important;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
}
.column_2_img .img:hover img{
    -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.column_2_img .cnt{
    margin: 0px;
    padding: 0px;
    display: block;
}
.column_2_img h3{
    margin: 0px;
    padding: 20px 20px 0px 20px;
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}
.column_2_img_right{
    margin: 0px;
}


.btn_explore_blogs{
    margin: 48px 0px;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 158px;
    height: 44px;
    font-size: 14px;
    color: #fff;
    font-weight: 300;   
    text-decoration: none;
    text-align: center;
    line-height: 42px;
    background-color: #0045fb;
    border-radius: 40px;
    position: relative;
    margin-top: 0px;
    top: -102px;

}
.btn_explore_blogs:hover{
    background-color: #001D69;
    color: #fff;
}

/* Responsive */
@media only screen and (max-width: 1024px) {
    .btn_explore_blogs{top: -90px;}
}
@media only screen and (max-width: 959px) {
    .btn_explore_blogs{top: -140px;}
    .partner_text{ margin-left: 30px; padding-top: 20px;}
    .btn_partner_us{ margin-right: 30px; position: relative; top: 20px; }
    .Partner_us_section{ align-items: baseline; padding-top: 0px;}
}
@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 767px) {
.learing_grid .column_1 {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    display: block;
    width: 100%;
    float: none;
}
.learing_grid .column_2{
    display: block;
    width: 100%;
    float: none;
    max-width: 100%;
}
.column_2_img .column_img{
    margin-right: 0px;
}
.column_2_img{
    float: none;
    width: 100%;
}

.btn_explore_blogs{
    position: relative;
    top: 0px;
    margin: 40px auto 0;
}

.learing_grid .column_1 .img,.column_2_img .img{
    height: 301px !important;
}
.column_1 .img img,.column_2_img .img img{
   height: 301px !important; 
}

.bothContainer{
    display: flex;
    flex-direction: column-reverse;
}

.learningCentre_section{
    padding-top: 50px;
    padding-bottom: 60px;
}

}
/* Responsive */