.mobile_search_wrapper {
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;

}

.mobile_white_box {
  margin: 60px auto;
  padding: 24px;
  display: block;
  position: relative;
  width: 400px;
  min-height: 200px;
  background-color: #fff;
  border-radius: 24px 24px 0px 0px;
}
.gry_line {
  margin: 0px auto 20px auto;
  padding: 0px;
  display: block;
  position: relative;
  background-color: #e8e8e8;
  width: 40px;
  height: 3px;
  border-radius: 10px;
}
.mobile_box_filter {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 30px 0px;
  display: block;
  position: relative;
}
.mobile_box_filter_h5 {
  margin: 0px 0px;
  padding: 0px 0px 20px 0px;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.mobile_box_filter .anch_filter {
  margin: 0px 12px 12px 0px;
  padding: 7px 32px 9px 32px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  border: 2px solid #ccc;
  border-radius: 24px;
  background-color: #fff;
}
.mobile_box_filter .anch_filter:focus,
.mobile_box_filter .anch_filter:hover {
  border: 2px solid #0045fb;
}
.btn_mobile_next {
  margin: 0px 0px 0px auto;
  padding: 0px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border: 0px solid #ccc;
  border-radius: 24px;
  background-color: #0045fb;
  width: 44px;
  height: 44px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
}
.btn_mobile_next:disabled {
  background-color: #e8e8e8;
}
.btn_mobile_next:hover,
.btn_mobile_next.active {
  background-color: #001d69;
}
.btn_mobile_next button {
  margin: 0px 0px 0px auto;
  padding: 0px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border: 0px solid #ccc;
  border-radius: 24px;
  background-color: #0045fb;
  width: 44px;
  height: 44px;
  line-height: 56px;
  text-align: center;
  cursor: pointer;
}

/* 2 */
.mobile_search_location {
  margin: 0px;
  padding: 0px;
  display: block;
  position: relative;
}
.mobile_loc_inp {
  margin: 0px;
  padding: 0px 22px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  font-weight: 600;
  color: #747474;
  border-radius: 25px;
  box-shadow: 0px 7px 20px #d8d8d8;
}
.mobile_loc_inp:focus {
  outline: 0px;
  border-color: #fff;
  box-shadow: 0px 7px 20px #d8d8d8;
  border: 1px solid #d8d8d8;
}


.btn_mobile_prve {
  margin: 30px auto 0px 0px;
  padding: 0px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border: 1px solid #d8d8d8;
  border-radius: 24px;
  background-color: #fff;
  width: 44px;
  height: 44px;
  /* line-height: 56px; */
  text-align: center;
  cursor: pointer;
}
.btn_mobile_prve img {
  transform: rotate(180deg);
}
.btn_mobile_prve:disabled {
  background-color: #fff;
  border: 1px solid #001d69;
}
.btn_mobile_prve:hover,
.btn_mobile_prve.active {
  background-color: #fff;
  border: 1px solid #001d69;
}
.btn_mobile_prve svg {
  position: relative;
  top: -2px;
}
.btn_mobile_prve svg{
    color: #0045fb;
 
}

/* Responsive */
@media screen and (max-width: 767px) {
  .mobile_search_wrapper {
    width: 100%;
    height: 100%;
  }
  .mobile_white_box {
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99999;
    min-height: 450px;
  }
  .btn_mobile_next{
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
  .btn_mobile_prve{
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
}
@media screen and (max-width: 480px) {
  .mobile_white_box {
    width: 100%;
  }
}
/* Responsive */
